<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>tgb_information.propertyfile</param-name>
        <!--  Name of the chat properties file. It contains the name and description                   of rooms.-->
        <param-value>tgb_information.properties</param-value>
    </context-param>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpentMoneyServlet</servlet-name>
        <servlet-class>SpentMoneyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GovRegisterServlet</servlet-name>
        <servlet-class>GovRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment_done</servlet-name>
        <servlet-class>payment_done</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>temp</servlet-name>
        <servlet-class>temp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <servlet-class>ForgetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SmsServlet</servlet-name>
        <servlet-class>SmsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>graphServlet</servlet-name>
        <servlet-class>graphServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>barservlet</servlet-name>
        <servlet-class>barservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>taxgraphServlet</servlet-name>
        <servlet-class>taxgraphServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cityspend</servlet-name>
        <servlet-class>cityspend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>citytaxation</servlet-name>
        <servlet-class>citytaxation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>paytax</servlet-name>
        <servlet-class>PayTaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>paytax</servlet-name>
        <url-pattern>/PayTaxServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>SpentMoneyServlet</servlet-name>
        <url-pattern>/SpentMoneyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GovRegisterServlet</servlet-name>
        <url-pattern>/GovRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment_done</servlet-name>
        <url-pattern>/payment_done</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>temp</servlet-name>
        <url-pattern>/temp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <url-pattern>/ForgetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SmsServlet</servlet-name>
        <url-pattern>/SmsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>graphServlet</servlet-name>
        <url-pattern>/graphServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>barservlet</servlet-name>
        <url-pattern>/barservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>taxgraphServlet</servlet-name>
        <url-pattern>/taxgraphServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cityspend</servlet-name>
        <url-pattern>/cityspend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>citytaxation</servlet-name>
        <url-pattern>/citytaxation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
